SECRET_KEY=

DATABASE_URL=

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MAIL_SERVER=
MAIL_PORT=
MAIL_USE_TLS=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=
